@font-face{
    font-family: "Tuskergrotesk 3800 Super";
    src: url(TuskerGrotesk-3800Super.otf);
}

:root {
    --primary-color: #fe0000;
    --primary-dark: #1F252E;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    size-adjust: 25%;

}

/* Genral */
.container {
    padding: 0 8.4rem;
}

.img-w {
    width: 100%;
    height: auto;
}

/* Nav */
header {
    position: relative;
    box-shadow: 0 4px 17px rgba(0, 0, 0, .1);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
}

.logo a {
    color: #244D61;
    text-decoration: none;
}

ul {
    display: flex;
    gap: .6rem;
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
}

li a {
    display: inline-block;
    padding: .3rem 1rem;
    color: var(--nav-text);
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    letter-spacing: .7px;
    border-radius: 36px;
    line-height: 2;
    transition: .3s;
    opacity: 0;
    animation: navani .3s ease forwards;
    animation-delay: calc(.15s * var(--navAni));
}

li a.active,
li a:hover {
    color: var(--primary-color);
    transform: scale(1.1);
}

#click {
    display: none;
}

.menu {
    display: none;
}

/* Nav End */

.image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    z-index: 0;
}

.image .font{
    color: white;
    font-size: 7rem;
    font-family: "Tuskergrotesk 3800 Super", Impact, sans-serif;
    font-stretch: extra-condensed;
    padding: 40px 10px;
    text-align: justify;
    position: absolute;
    animation: leftSideAni 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
    line-height: 1.2em;
}

.image img {
    margin-top: -2rem;
    width: 26rem;
    position: relative;
    z-index: 1;
}

/* Section 1 */
.mode i {
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--primary-color);
    opacity: 0;
    animation: rightSideAni 1.5s ease forwards;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
    row-gap: 2rem;
    align-items: center;
    margin: 4rem 0 2rem 0;
}

.main h3 {
    font-size: 1.5rem;
    opacity: 0;
    animation: topSideAni 1s ease forwards;
}

.main h1 {
    font-size: 4rem;
    font-weight: 600;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
    animation-delay: 1s;
}

.main p {
    line-height: 1.7;
    font-size: 1.15rem;
    opacity: 0;
    animation: topSideAni 1.5s ease forwards;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1em;
}

.social a {
    display: grid;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.5em;
    border: 1.6px solid var(--primary-color);
    border-radius: 50%;
    padding: 0.39rem;
    text-align: center;
    opacity: 0;
    animation: SocialAni 1s ease forwards;
    animation-delay: calc(.2s * var(--socialAni));
}

.social a:hover {
    color: var(--primary-dark);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
    transition: all .3s ease-in-out;
}

.skill {
    text-align: center;
    margin-bottom: 3em;
}

.specialize {
    display: flex;
    align-items: center;
    justify-content: center;
}

.specialize p {
    font-size: larger;
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 50px;
    border: 1.5px solid var(--primary-dark);
}

.specialize p:hover {
    color: var(--primary-dark);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
    transition: all .3s ease-in-out;
}

.foot {
    padding-top: 1rem;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-dark);
    color: white;
    font-size: small;
}

.foot .author {
    color: var(--primary-color);
    font-size: 4rem;
    font-family: "Tuskergrotesk 3800 Super", Impact, sans-serif;
}

.foot .mid {
    letter-spacing: 1px;
    margin-top: 1em;
}

.foot .content{
    display: flex;
}

.foot .content a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    margin: 1.5em;
    margin-top: 2em;
    text-decoration: none;
}

.foot .content a:hover {
    text-decoration: underline;
}

/* Section 1 End */

/* Dark Mode */

.dark-mode {
    background-color: var(--primary-dark);
    color: #ffffff;
}

.mode input {
    display: none;
}

:is(.dark-mode) {
    .image .font {
        color: var(--primary-dark);
    }
    .social a {
        color: var(--primary-color);
        border: 1.6px solid var(--primary-color);
    }

    .social a:hover {
        color: white;
        background-color: var(--primary-color);
        box-shadow: 0 0 20px var(--primary-color);
    }

    .logo a {
        color: #fff;
    }

    .specialize p {
        border: 1.5px solid white;
    }

    .specialize p:hover {
        color: white;
    }
}

.dark-mode header {
    box-shadow: 0 4px 17px rgb(80 80 80 / 31%);
    background: var(--primary-dark);
}

/* Animation */
@keyframes leftSideAni {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes navani {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rightSideAni {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes topSideAni {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes SocialAni {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes imageAni {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 4.4rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 1.6rem;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: auto;
    }

    ul {
        background: #fff;
        width: 100%;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 3.4rem;
        left: -100%;
        z-index: 111111;
    }

    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #244D61;
    }

    #click:checked ~ ul {
        left: 0%;
        transition: all 0.3s ease;
    }

    .dark-mode .menu {
        color: var(--primary-color);
    }

    .dark-mode ul {
        background: var(--primary-dark);
    }

    .mode {
        position: absolute;
        right: 4rem;
    }
    
    .image .font{
        color: white;
        font-size: 4rem;
        letter-spacing: 0.1px;
        line-height: normal;
    }

    .image img {
        position: relative;
        align-items: center;
        margin-top: 12rem;
        width: 100dvw;
    }

    .main {
        margin-top: 2rem;
    }
 
    .skill {
        text-align: center;
        margin-bottom: 3em;
    }

    .specialize {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .specialize p {
        font-size: small;
        padding: 0.5em 1em;
        margin: 0.5em;
        border-radius: 50px;
        border: 1px solid var(--primary-dark);
    }

    .foot .content{
        display: grid;
        margin: 1.5em 0;
    }
}
